:root {

  --clr-blue-200: hsl(193, 38%, 86%);
  --clr-green-300: hsl(150, 100%, 66%);

  --clr-neutral-blue-600: hsl(217, 19%, 38%);
  --clr-neutral-blue-900: hsl(217, 19%, 24%);
  --clr-neutral-blue-950: hsl(218, 23%, 16%);

}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  
  background-color: var(--clr-neutral-blue-950);

}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* GLOBAL */

body { 
  background-color: var(--clr-neutral-blue-950);
  color: var(--clr-blue-200);

  font-family: 'Manrope', sans-serif;
}

p {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
}

/* LAYOUT */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}

main {
  margin-inline: auto;
  max-inline-size: 900px;
}

.advice-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#getQuoteBtn { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: -2.5em;
}

/* CARD */

.advice-card {
  background-color: var(--clr-neutral-blue-900);
  box-shadow: 16px 16px 48px var(--clr-neutral-blue-950);
  padding: 3em;
  border-radius: 24px;
  
  margin-left: 2em;
  margin-right: 2em;

  @media (width > 1024px) {
    min-width: 800px;
    min-height: 520px;
    
    transition: all 1.5s ease-in-out; /* Smooth transition for all properties */
  }

  @media (width < 660px) {
    padding: 8px;
    margin-left: .5em;
    margin-right: .5em;
  }
}

.advice-id {
  color: var(--clr-green-300);
}


#quoteBox {
  margin-block: 2em;
  text-align: center;
  text-wrap: balance;

  h2 {
    font-size: clamp(1.75em, 5vw, 3em);
    font-weight: 800;
  }

  p {
    font-size: clamp(.75em, 2vw, 1.2em);

  }

  @media (width < 1024px) {
    margin-block: 1em;
  }
}

/* #getQuoteBtn { 
  background-color: var(--clr-green-300);
  border-radius: 100%;
  height: 5em;
  width: auto;
  aspect-ratio: 1/1;

  img {
    height: 40%;
    width: auto;
    display: block;
  }
  
}

#getQuoteBtn:active {
  animation: spin 800ms linear infinite;
  
}

@media (width >660px) {
  #getQuoteBtn:hover {
    box-shadow: 0 0 16px var(--clr-green-300);
  }
}

@keyframes spin {
  from {
     transform: rotate(0deg) scale(1);
     box-shadow: 0 0 16px var(--clr-green-300);
    }
  to { 
    transform: rotate(360deg) scale(1.2); 
    box-shadow: 0 0 48px var(--clr-green-300);

  }
} */

#getQuoteBtn { 
  background-color: var(--clr-green-300);
  border-radius: 100%;
  height: 5em;
  width: auto;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* Transition for shadow */

  @media (width < 660px) {
    height:4em;
    margin-bottom: 8px;
  }
}

#getQuoteBtn img {
  height: 40%;
  width: auto;
  display: block;

  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Box shadow on hover */
#getQuoteBtn:hover {
  box-shadow: 0 0 16px var(--clr-green-300);
}

/* Box shadow when active */
#getQuoteBtn:active {
  box-shadow: 0 0 48px var(--clr-green-300);
}


.divider {
  margin-block: 2em;

  @media (width < 660px) {
    margin: 1em 0 3em 0;
  }
}

.divider img {
  transform: scale(1.5);
  width: 90%;
}

@media (width < 1024px) {
  .divider img {
    transform: scale(1.5);
    width: 70%;
  }
}

@media (width < 660px) {
  .divider img {
    transform: scale(1.5);
    width: 60%;
  }
}

#langButton {
  display: block;
  font-size: 3em;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  appearance: none;
}

@media (width < 660px) {
  #langButton {
    transform: scale(1.2) translate(8px, 8px);
  }

  #langButton:active {
    transform: scale(1.3) translate(8px, 8px);
  }
}
@media (width > 660px) {
  #langButton:hover  {
    transform: scale(1.2) translate(8px, 8px);
    transition: all 0.3s ease-in-out;
  }

  #langButton:active {
    transform: scale(1.3) translate(8px, 8px);
  }
  
}

.attribution {
  text-wrap: balance;
}

.attribution a {
  text-decoration: none;
}

.attribution a:hover {
  color: var(--clr-green-300);
}